body {
    margin: 0px;
    font-family: 'Alata', sans-serif;
    margin-bottom: 60px;
    margin-top: 90px;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    // make navbar and content scale with screen width instead of having a fixed width
    #navbar {
        padding: 0px 20px !important;
        width: calc(100% - 40px) !important;
    }
    .content {
        width: auto !important;
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    .screenshot-grid {
        display: flex !important;
        flex-flow: row wrap !important;

        .screenshot {
            width: calc(50% - 20px) !important;
        }
    }
}

@media screen and (max-width: 670px) {
    // hide name to make space for nav buttons
    #name {
        display: none !important;
    }
    // puts the github link on a new line so it doesn't overlap (black colour to make it stand out more)
    .prog-github {
        position: static !important;
        color: black !important;
    }

    .screenshot-grid {
        display: block !important;

        .screenshot {
            width: 100% !important;
            margin: 0px 0px 20px 0px !important;
        }
    }

    .game-link {
        position: static !important;
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 490px) {
    // decrease the margins more and reduce the navbar font size so the buttons fit
    .content {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    #navbar {
        padding: 0px 5px 0px 10px !important;
        width: calc(100% - 15px) !important;
        font-size: 0.75em !important;
        .navbar-button {
            padding: 0px 6px !important;
        }
    }
    .article-thumbnail {
        display: none !important;
    }
}

#navbar {
    user-select: none; // can't highlight the text
    box-shadow: 0px 1px 20px rgb(220, 220, 220);
    padding: 0px calc((100% - 850px) / 2);
    height: 60px;
    position: fixed;
    top: 0px;
    width: 850px;
    background-color: white;
    z-index: 1;

    .brand {
        .profile-pic {
            background-color: rgb(190, 210, 243);
            width: 44px;
            height: 44px;
            top: 8px;
            float: left;
            position: relative;
            border-radius: 10px;
            overflow: hidden; // when the image moves down it doesn't show outside the container
        }
    
        .profile-pic-image, .profile-pic-shadow {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .profile-pic-image {
            top: 0px;
            transition: top 0.1s;
        }
        .profile-pic-shadow {
            box-shadow: inset 0px 2px 5px rgb(106, 122, 148);
            position: absolute;
        }

        #name {
            display: inline-block;
            line-height: 60px; // line height matches the parent height to horizontally centre
            font-size: 1.6em;
            position: relative;
            padding-left: 15px;
        }

        // move the image down when hovering over the text or icon
        &:hover .profile-pic-image {
            top: 5px;
        }
    }

    .navbar-button {
        float: right;
        line-height: 60px;
        padding: 0px 12px;
        font-size: 1.15em;
        color: rgb(120, 120, 120);
        height: 100%;
        cursor: pointer;

        .highlight {
            width: 0px;
            left: 50%;
            height: 4px;
            position: relative;
            top: -4px;
            transition: all 0.2s;
        }

        &:hover  {
            color: black;
            .highlight {
                width: 100%;
                left: 0px;
            }
        }
        .highlight-about { background-color: rgb(106, 156, 81); }
        .highlight-blog { background-color: rgb(190, 81, 73); }
        .highlight-projects { background-color: rgb(139, 81, 156); }
        .highlight-contact { background-color: rgb(81, 117, 156); }
        .highlight-cv { background-color: rgb(214, 134, 49); }
    }
}

.content {
    position: relative;
    width: 700px;
    margin-left: calc((100% - 700px) / 2);
    // margin-bottom: 40px;

    .content-header {
        font-size: 2em;
        margin-bottom: 20px;

        .headshot {
            width: 60px;
            border-radius: 10px;
            box-shadow: 0px 2px 3px rgb(200, 200, 200);
            margin-right: 15px;
            position: relative;
            top: 10px;
            margin-top: -15px;
        }
    }

    .content-subheader {
        font-size: 0.9em;
        color: rgb(150, 150, 150);
        position: relative;
        top: -22px;
    }

    .game-link {
        position: absolute;
        display: inline-block;
        top: 8px;
        right: 0px;
        font-size: 1em;
        border-radius: 4px;
        padding: 4px 6px;
        text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
        color: white;
        box-shadow: 0px 2px 4px rgb(220, 220, 220);
        transition: all 0.1s;

        .fab {
            padding-left: 6px;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    .itch-link {
        background-color: rgb(242, 114, 114);
        border: 1px solid rgb(209, 102, 102);
    }
    .play-link {
        background-color: rgb(73, 186, 114);   
        border: 1px solid rgb(60, 160, 97);
        right: 150px;
        margin-left: 5px;
    }

    .content-body {
        margin-bottom: 30px;
        font-size: 1.05em;

        .content-text {
            a {
                font-weight: bold;
                color: #449bff;
                &:hover {
                    color: #8ec2ff;
                }
            }
        }

        .game-grid {
            display: flex; // display the containers in a flex grid
            justify-content: space-evenly; // space the grid evenly across the element width
            flex-flow: row wrap; // wrap around when too close to eachother
            // width: 700px;
            // margin-left: 50px;

            .game-container {
                width: 150px;
                margin: 0px 4px 10px 4px;

                .game-thumbnail-container {
                    border-radius: 10px;
                    overflow: hidden;
                    height: 120px;
                    position: relative;
                    box-shadow: 0px 2px 5px rgb(180, 180, 180);
                    transition: all 0.2s;

                    .game-thumbnail {
                        position: absolute;
                        width: 100%;    
                        height: 100%;
                        transition: all 0.2s;
                    }
                }
                .game-name {
                    font-size: 1.3em;
                    text-align: center;
                    color: rgb(120, 120, 120);
                    transition: all 0.1s;
                }

                &:hover {
                    .game-thumbnail {
                        transform: scale(1.05);
                    }
                    .game-name {
                        color:black;
                    }
                }
            }
        }

        .prog-container {
            display: block;
            position: relative;
            background-color: rgb(245, 245, 245);
            border-radius: 6px;
            padding: 5px 10px 10px 10px;
            margin-bottom: 10px;

            .prog-name {
                font-size: 1.1em;
            }
            .prog-desc {
                color: rgb(120, 120, 120);
                font-size: 0.9em;
            }
            .prog-github {
                position: absolute;
                top: 7px;
                right: 10px;
                color: rgb(120, 120, 120);
                transition: all 0.1s;

                .fab {
                    padding-left: 6px;
                    transition: all 0.1s;
                }
            }
            &:hover {
                .prog-github {
                    color: black;
                    .fab {
                        transform: scale(1.2);
                        color: rgb(108, 29, 153);
                    }
                }
            }
        }

        .screenshot-grid {
            position: relative;
            top: 25px;

            .screenshot {
                display: inline-block;
                vertical-align: top; // align with top edge (bottom edge by default)
                width: calc(50% - 24px);
                margin: 12px 10px;

                img {
                    width: 100%;
                    box-shadow: 0px 2px 6px rgb(120, 120, 120);
                    border-radius: 6px;
                }
            }
        }

        .article-list-item {
            background-color: rgb(245, 245, 245);
            border-radius: 6px;
            padding: 5px 10px 10px 10px;
            margin-bottom: 20px;

            .article-title {
                font-weight: bold;
                font-size: 1.3em;
                // width: calc(100% - 160px);
            }

            .article-preview {
                margin: 20px 0px;
                // width: calc(100% - 170px);
            }

            .article-thumbnail {
                width: 140px;
                // height: 120px;
                float: right;
                margin: 5px 0px 5px 10px;
                margin-left: 15px;
                box-shadow: 0px 2px 5px rgb(180, 180, 180);
                border-radius: 10px;
            }
        }

        .image-container {
            text-align: center;
            margin: 30px 0px;

            img, video {
                border-radius: 10px;
                box-shadow: 0px 2px 5px rgb(160, 160, 160);
                max-width: 100%;
            }
        }
    }

    .content-footer {
        user-select: none;
    }
}

.link-icon {
    font-size: 2em;
    color: rgb(150, 150, 150);
    margin-right: 15px;
    transition: transform 0.2s, color 0.1s;
    display: inline-block;

    &:hover {
        transform: scale(1.2);
        &.icon-github { color: rgb(108, 29, 153); }
        &.icon-itch { color: rgb(242, 114, 114); }
        &.icon-play { color: rgb(73, 186, 114); }
        &.icon-twitter { color: rgb(72, 178, 240); }
        &.icon-linkedin { color: rgb(53, 110, 184); }
    }
}

.label-container {
    // height: 20px;
    margin-top: 4px;
    font-size: 16px;
}

.tech-label {
    border-radius: 12px;
    position: relative;
    margin-left: 3px;
    // left: 5px;
    bottom: 1px;
    color: white;
    font-size: 13px; // use px here instead of em so it doesn't inherit parent's font size
    padding: 1px 6px;
    user-select: none; // can't highlight the text
    white-space: nowrap; // prevent wrapping so a label doesn't get cut in half
    // box-shadow: 1px 2px 3px rgb(200, 200, 200);

    &.label-cplusplus { background-color: rgb(110, 140, 181); }
    &.label-csharp { background-color: rgb(131, 132, 214); }
    &.label-java { background-color: rgb(207, 121, 45); }
    &.label-html { background-color: rgb(132, 161, 114); }
    &.label-scss { background-color: rgb(163, 114, 171); }
    &.label-unity { background-color: rgb(107, 110, 112); }
    &.label-android { background-color: rgb(59, 189, 98); }
    &.label-procgen { background-color: rgb(223, 83, 78); }
    &.label-shadergraph { background-color: rgb(197, 172, 58); }
}

.article-date, .image-label {
    color: rgb(100, 100, 100);
}

.equation-container {
    margin-left: 7%;
    display: table;
}
.equation-container, .equation {
    // font-style: italic;
    background-color: rgb(240, 240, 240);
    font-family: Consolas, monospace, serif;
    padding: 4px 6px;
    border-radius: 6px;
}