body {
  margin: 0px;
  font-family: "Alata", sans-serif;
  margin-bottom: 60px;
  margin-top: 90px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  #navbar {
    padding: 0px 20px !important;
    width: calc(100% - 40px) !important;
  }

  .content {
    width: auto !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
  }

  .screenshot-grid {
    display: flex !important;
    flex-flow: row wrap !important;
  }
  .screenshot-grid .screenshot {
    width: calc(50% - 20px) !important;
  }
}
@media screen and (max-width: 580px) {
  #name {
    display: none !important;
  }

  .prog-github {
    position: static !important;
    color: black !important;
  }

  .screenshot-grid {
    display: block !important;
  }
  .screenshot-grid .screenshot {
    width: 100% !important;
    margin: 0px 0px 20px 0px !important;
  }

  .game-link {
    position: static !important;
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 425px) {
  .content {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }

  #navbar {
    padding: 0px 5px 0px 10px !important;
    width: calc(100% - 15px) !important;
    font-size: 0.8em !important;
  }
  #navbar .navbar-button {
    padding: 0px 8px !important;
  }
}
#navbar {
  user-select: none;
  box-shadow: 0px 1px 20px gainsboro;
  padding: 0px calc((100% - 850px) / 2);
  height: 60px;
  position: fixed;
  top: 0px;
  width: 850px;
  background-color: white;
  z-index: 1;
}
#navbar .brand .profile-pic {
  background-color: #bed2f3;
  width: 44px;
  height: 44px;
  top: 8px;
  float: left;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
#navbar .brand .profile-pic-image, #navbar .brand .profile-pic-shadow {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
}
#navbar .brand .profile-pic-image {
  top: 0px;
  transition: top 0.1s;
}
#navbar .brand .profile-pic-shadow {
  box-shadow: inset 0px 2px 5px #6a7a94;
  position: absolute;
}
#navbar .brand #name {
  display: inline-block;
  line-height: 60px;
  font-size: 1.6em;
  position: relative;
  padding-left: 15px;
}
#navbar .brand:hover .profile-pic-image {
  top: 5px;
}
#navbar .navbar-button {
  float: right;
  line-height: 60px;
  padding: 0px 12px;
  font-size: 1.15em;
  color: #787878;
  height: 100%;
  cursor: pointer;
}
#navbar .navbar-button .highlight {
  width: 0px;
  left: 50%;
  height: 4px;
  position: relative;
  top: -4px;
  transition: all 0.2s;
}
#navbar .navbar-button:hover {
  color: black;
}
#navbar .navbar-button:hover .highlight {
  width: 100%;
  left: 0px;
}
#navbar .navbar-button .highlight-about {
  background-color: #6a9c51;
}
#navbar .navbar-button .highlight-projects {
  background-color: #8b519c;
}
#navbar .navbar-button .highlight-contact {
  background-color: #51759c;
}
#navbar .navbar-button .highlight-cv {
  background-color: #d68631;
}

.content {
  position: relative;
  width: 700px;
  margin-left: calc((100% - 700px) / 2);
  margin-bottom: 40px;
}
.content .content-header {
  font-size: 2em;
  margin-bottom: 20px;
}
.content .content-header .headshot {
  width: 60px;
  border-radius: 10px;
  box-shadow: 0px 2px 3px #c8c8c8;
  margin-right: 15px;
  position: relative;
  top: 10px;
  margin-top: -15px;
}
.content .game-link {
  position: absolute;
  display: inline-block;
  top: 8px;
  right: 0px;
  font-size: 1em;
  border-radius: 4px;
  padding: 4px 6px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  box-shadow: 0px 2px 4px gainsboro;
  transition: all 0.1s;
}
.content .game-link .fab {
  padding-left: 6px;
}
.content .game-link:hover {
  transform: scale(1.05);
}
.content .itch-link {
  background-color: #f27272;
  border: 1px solid #d16666;
}
.content .play-link {
  background-color: #49ba72;
  border: 1px solid #3ca061;
  right: 150px;
  margin-left: 5px;
}
.content .content-body {
  margin-bottom: 20px;
  font-size: 1.1em;
}
.content .content-body .game-grid {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.content .content-body .game-grid .game-container {
  width: 150px;
  margin: 0px 2px 10px 2px;
}
.content .content-body .game-grid .game-container .game-thumbnail-container {
  border-radius: 10px;
  overflow: hidden;
  height: 120px;
  position: relative;
  box-shadow: 0px 2px 5px #b4b4b4;
  transition: all 0.2s;
}
.content .content-body .game-grid .game-container .game-thumbnail-container .game-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.content .content-body .game-grid .game-container .game-name {
  font-size: 1.3em;
  text-align: center;
  color: #787878;
  transition: all 0.1s;
}
.content .content-body .game-grid .game-container:hover .game-thumbnail {
  transform: scale(1.05);
}
.content .content-body .game-grid .game-container:hover .game-name {
  color: black;
}
.content .content-body .prog-container {
  display: block;
  position: relative;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 5px 10px 10px 10px;
  margin-bottom: 10px;
}
.content .content-body .prog-container .prog-name {
  font-size: 1.1em;
}
.content .content-body .prog-container .prog-desc {
  color: #787878;
  font-size: 0.9em;
}
.content .content-body .prog-container .prog-github {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #787878;
  transition: all 0.1s;
}
.content .content-body .prog-container .prog-github .fab {
  padding-left: 6px;
  transition: all 0.1s;
}
.content .content-body .prog-container:hover .prog-github {
  color: black;
}
.content .content-body .prog-container:hover .prog-github .fab {
  transform: scale(1.2);
  color: #6c1d99;
}
.content .content-body .screenshot-grid {
  position: relative;
  top: 25px;
}
.content .content-body .screenshot-grid .screenshot {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 24px);
  margin: 12px 10px;
}
.content .content-body .screenshot-grid .screenshot img {
  width: 100%;
  box-shadow: 0px 2px 6px #787878;
  border-radius: 6px;
}

.link-icon {
  font-size: 2em;
  color: #969696;
  margin-right: 15px;
  transition: transform 0.2s, color 0.1s;
  display: inline-block;
}
.link-icon:hover {
  transform: scale(1.2);
}
.link-icon:hover.icon-github {
  color: #6c1d99;
}
.link-icon:hover.icon-itch {
  color: #f27272;
}
.link-icon:hover.icon-play {
  color: #49ba72;
}
.link-icon:hover.icon-linkedin {
  color: #356eb8;
}

.tech-label {
  border-radius: 10px;
  position: relative;
  margin-left: 3px;
  left: 5px;
  bottom: 2px;
  color: white;
  font-size: 0.7em;
  padding: 0px 6px;
}
.tech-label.label-cplusplus {
  background-color: #6e8cb5;
}
.tech-label.label-csharp {
  background-color: #8384d6;
}
.tech-label.label-java {
  background-color: #cf792d;
}
.tech-label.label-html {
  background-color: #84a172;
}
.tech-label.label-scss {
  background-color: #a372ab;
}

/*# sourceMappingURL=style.css.map */
